body {
  font-family: 'Helvetica Neue';
  background-color: #eee;

  color: #404044;
  
  margin: 0;
  height: 100%;
}

.tick {
  font-weight: bold;
  fill: #777;
}

.visit-label {
  font-weight: bold;
  fill: #585858;
  font-size: 24px;
  alignment-baseline: central;
}