body {
  font-family: futura, 'Helvetica Neue', sans-serif;
  background-color: #eee;

  color: #404044;
  
  margin: 0;
  height: 100%;
}

.tick {
  fill: #787878;
  text-transform: uppercase;
}

.visit-label {
  font-family: futura, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  fill: #585858;
  font-size: 28px;
  alignment-baseline: central;
}

.graph-title {
  fill: #777;
  text-anchor: middle;
  alignment-baseline: central;  
}
